<!doctype html>
<html xmlns = "http://www.w3.org/1999/xhtml">
	<head>
	  <!--head-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<meta charset="utf-8"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="./scripts/samuraiScript.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body ng-app='myModule' ng-controller='controller1'>
	  <!--body-->
		<img src="./img/flag.png"><br>
		<!--превед-->
		Search:<input type="text" placeholder="Search city and name" ng-model="searchText"/>
	
		<table>
			<thead>
			  <!--table head-->
				<tr>
					<th>Name</div></th>
					<th>Gender</th>
					<th>Salary</th>
					<th>City</th>
				</tr>
			</thead>
			<tbody>
			  <!--table body-->
				<tr ng-repeat='employee in employees | filter : search'>
					<td>{{employee.name}}</td>
					<td>{{employee.gender}}</td>
					<td>{{employee.salary}}</td>
					<td>{{employee.city}}</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
