body {
	font-family : Arial;
	font-size: 16px;
	color : green;
}
img {
	height : 100px ;
	width : 600px ;
}
table {
	background-color: aqua;
	border-collapse: collapse;
}
td {
	border:1px solid blue;
	padding:5px;
}
th {
	border:1px solid red;
	padding: 5px;
	text-align: left;
}
