body {
	font-family : Arial;
	font-size: 19px;
}
img {
	height : 100px ;
	width : 675px ;
}
table {
	background-color: #3399ff;
	border-collapse: collapse;
}
td {
	border:1px solid blue;
	padding:5px;
}
th {
	border:1px solid red;
	padding: 5px;
	text-align: left;
	cursor: pointer;
}
option {
	background-color: #cc0000;
}
select{
	background-color: #66cc00;
}