img
{
	height : 100px ;
	width : 500px ;
}
table {
	font-family: Arial;
	border-collapse: collapse;
}
td{
	border:1px solid blue;
	padding:5px;
}
th{
	border:1px solid red;
	padding: 5px;
	text-align: left;
}
